
@{
    ViewData["Title"] = "Test Page";
}

    <div class="text-center">
        <h1 class="display-4">Test Page</h1>
        <br />
        <a asp-controller="Home" asp-action="Index">Go Home</a>
        <br />
        <app>@(await Html.RenderComponentAsync<Counter>())</app>

        <script src="_framework/blazor.server.js"></script>
    </div>
